<!DOCTYPE html>
<html lang="en">
    <body>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script src="js/main.js"></script>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/sinan.saglaam/" target="_blank">
                                    
                                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                    
                                </a>
                            </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/sinan-şamil-sağlam/" target="_blank">
                                
                                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                                
                            </a>
                        </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/sinansamilsaglam" target="_blank">
                                    
                                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://sinansaglam99.medium.com/">
                                    
                                    <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
                                    
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Tüm Hakları Saklı Falan Değildir. &copy; 2021 </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>