<%- include ("./partials/header") %>

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Benim Hakkımda</h1>
                    <span class="subheading">Kimim ben ?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Selamlar, ben Sinan Şamil Sağlam. İzmir'de doğdum, büyüdüm ve İzmir'i çok seviyorum. Dokuz Eylül Üniversitesi'nde Bilgisayar Bilimleri öğrencisiyim.</p>
                <p>Kitap okumayı, bilgisayar oyunu oynamayı "özellikle Skyrim", dizi izlemeyi, bisiklet sürmeyi severim. Öyle pek ekstrem bir hayatım yok, sıradan bir şekilde yaşayıp gidiyorum. </p>
                <p>Buraya kadar zaman ayırıp okuduğun için teşekkürler. Bana ulaşabileceğin hesaplar aşağıda, bir tık kadar yakınım.</p>
            </div>
        </div>
    </div>
</main>

<%- include ("./partials/footer") %>